@model List<PracticaConBDD.Models.Prendum>
@{ 
    List< PracticaConBDD.Models.TipoPrendum> todasTipoPrendas = ViewBag.TodasTipoPrendas;
    int? IdTipoPrendaSeleccionada = ViewBag.IdTipoPrendaSeleccionada;
}

<form action="/Prendas/index" method="post">
    Tipo prenda:
    <select name="IdTipoPrenda">
        <option value="">Elija Prenda</option>
        @foreach (var tipo in todasTipoPrendas)
        {
            if (tipo.IdTipoPrenda == IdTipoPrendaSeleccionada && IdTipoPrendaSeleccionada.HasValue)
            {
                <option value="@tipo.IdTipoPrenda" selected>@tipo.Descripcion</option>
            }
            else
            {
                <option value="@tipo.IdTipoPrenda">@tipo.Descripcion</option>
            }

        }
    </select>
    <input type="submit" value="filtrar"/>
</form>

@if(Model.Count == 0)
{
    <div>No hay prendas</div>
}
else
{
<table>
    <tr>
        <th>Tipo</th>
        <th>Talle</th>
        <th>Color</th>
        <th>Modelo</th>
        <th>Marca</th>
    </tr>
    @foreach (var prenda in Model)
    {
        <tr>
            <td>@prenda.IdTipoPrendaNavigation.Descripcion</td>
            <td>@prenda.Talle</td>
            <td>@prenda.Color</td>
            <td>@prenda.Modelo</td>
            <td>@prenda.Marca</td>
        </tr>
    }
</table>
}